*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* HTML + BODY */

html
{
    font-size: 18px;
}

body
{
    height: 100vh;
    background-color: var(--body-bgcolor);
    overflow-x: hidden;
    z-index: 0;

}

/* HEADER */

header
{
    height: auto;
    
}

.top-header
{
    height: auto;
    padding: 8px calc(1.35rem + 1vw) 8px calc(1.35rem + 1vw);
    background-color: var(--header-top-bgcolor);
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.top-header p
{
    font-family: var(--general-font);
    color: var(--general-fontcolor);
    font-size: clamp(1rem - 4px , 0.3rem + 1.5vw, 1.3rem);
}

.top-header-social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;  
}

.top-header-social-container > .social-logo
{
    min-height: 20px;
    width: 20px;
    height: 20px ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-logo img
{
    width: 100%;
    height: 100%;
    display: block;
}

.main-header
{
    display: flex;
    padding: 0px clamp(1rem, 0.3rem + 1.5vw, 1.3rem) 0px clamp(1rem, 0.3rem + 1.5vw, 1.3rem);
    justify-content: space-between;
    align-items: center;
}

.main-header > .main-logo
{
    min-width: 150px ;
    min-height: 150px ;
    width: 200px;
    height: 200px;
}

.main-logo > img 
{
    width: 100%;
    height: 100%;
}

.main-header  > nav
{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.book-btn-container
{
    width: 140px;
    height: 40px;
}

.book-btn-container button
{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--book-now-btn-bgcolor);
    border: 2px solid var(--book-now-btn-bordercolor);
    transition: color 0.4s ease,all ease-in 1s;
    border-radius: 0.25rem;
    overflow: hidden;
    z-index: 1;
    font-weight: 900;
    font-family: var(--links-font);
    font-size: 17px;
    color: var(--book-btn-fontcolor );
}

.book-btn-container button::after
{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: var(--book-now-btn-bgcolor-active);
    transition: width 1.3s, height 1.3s;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.book-btn-container button.filled::after
{
    width: 300%;
    height: 300%;
}

.book-btn-container button.filled
{
    color: var(--book-now-btn-fontcolor-active);
}

.book-btn-container button:hover,
.book-btn-container button:focus

{
    background-color: var(--book-now-btn-bgcolor-hoverANDfocus);
}

.main-header > nav ul
{
    display: flex;
    gap: 20px;
    list-style: none;
}

.main-header > nav ul li a
{
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--links-font);
    font-weight: 900;
    color: var(--general-fontcolor);
    transition: all ease 0.5s;
    font-size: clamp(0.6rem, 0.2rem + 1.05vw, 1.3rem);


}

.main-header > nav ul li a:hover,
#sidebar > nav ul li a:hover
{
    color: var(--links-fontcolor-hover);
    padding-right: 4px;
}

.burger-menu
{
    background-color: var(--burger-menu-bgcolor );
    width: 55px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 50%;
    padding: 8px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.burger-menu > .line
{
    width: 80%;
    height: 3px;
    background-color: var(--burger-menu-line-bgcolor);
}

/* SIDEBAR */
#sidebar
{
    height: 100%;
    position: fixed;
    top: 0;
    left: -800px;
    background-color: var(--sidebar-bgcolor);
    min-width: 360px;
    width: 40%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px 40px 30px;
    gap: 40px;
    border-right: 1px solid var(--sidebar-bordercolor);
    animation-duration: 1s; 
    animation-fill-mode: forwards;
    z-index: 100;
}

.sidebar.open
{
    left: 0;
}

.x-icon
{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding-left: 8px;
}

.x-icon::after,
.x-icon::before
{
    content: "";
    position: absolute;
    width: 3px;
    height: 30px;
    background-color: black;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.x-icon::before {
    transform: translateX(-50%) rotate(45deg);
  }
  
.x-icon::after {
transform: translateX(-50%) rotate(-45deg);
}



#sidebar > nav ul
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
}

#sidebar > nav ul li
{
    width: 100%;
    border-bottom:1px solid var(--sidebar-li-bordercolor) ;
    padding: 0px 8px 8px 8px;
}

#sidebar > nav ul li a
{
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--links-font);
    font-weight: 300;
    color: var(--general-fontcolor);
    transition: all ease 0.5s;
    
}

#sidebar > .book-btn-container
{
    min-width: 148px;
    width: 50%;
    height: 40px;
    align-self: center;
}

#sidebar > .book-btn-container button::after
{
    background-color: var(--book-now-sidebar-btn-bgcolor-active);
}
/* HERO */

#hero
{
    background-image: url("../images/hero-photo.webp");
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    position: relative;
}  

.hero-texts
{
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

#hero::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.hero-titleANDdescription
{
    z-index: 2;
}

.hero-titleANDdescription > h2
{
    font-size: 3rem;
    color: var(--hero-title-fontcolor );
    font-family: var(--general-font);   
}

.hero-titleANDdescription > p
{
    font-size: 1.5rem;
    color: var(--hero-title-fontcolor );
    
}

.hero-quote > p
{
    word-spacing: 5px;
    font-family: var(--hero-title-font);
    font-size: 3.5rem;
    color: var(--hero-title-fontcolor);
}

.hero-buttons
{
    margin-top: 173px;
    display: flex;
    gap: 40px;
    align-content: flex-end;
}

.hero-buttons .book-btn-container
{
    width: 160px;
    height: 50px;
}

.hero-buttons .book-btn-container > button
{

    border: 2px solid var(--HERO-book-now-btn-bordercolor);
    color: var(--HERO-book-now-btn-fontcolor);
}

.hero-buttons .book-btn-container > button::after
{
    background-color: var(--HERO-book-now-btn-bgcolor-active);
}

.hero-buttons .book-btn-container > button.filled
{
    color: var(--HERO-book-now-btn-fontcolor-active);
}

.hero-buttons .book-btn-container > button:hover
{
    background-color: transparent;
}

.hero-buttons .book-btn-container > button:focus

{
    background-color: var(--HERO-book-now-btn-bgcolor-hoverANDfocus);
}

/* ABOUT ME */
#about-me
{
    width: 100%;
    padding: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.about-body
{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 15px;
}

.about-body > .rita-photo-container
{
    min-width: 400px;
    background-color: #42382e;
    border-radius: .75rem;
    /* temporary */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    overflow: hidden;
    color: white;
}

.section-title 
{
    justify-content: flex-start;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: var(--sections-title-bgcolor);
    width: 100%;
    border-bottom: 2px solid #42382e;
    z-index: 10;
}

.section-title > h1
{
    font-size: 2.2rem;
    font-family: var(--sections-title-font);
    text-transform: uppercase;
    color: var(--sections-title-fontcolor);
    font-weight: 700;
}

.about-paragraph-container
{
    max-width: 100%;
    max-height: 100%;
    padding: 0px 8px 0px 8px;
}

.about-paragraph-container > p
{
    font-size: clamp(0.7rem - 6px , 0.4rem + 1.7vw, 1.3rem);
    line-height: 6.5vh;
    font-family: var(--general-font);
    font-weight: 500;

}

.makeup-brands
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.makeup-logo
{
    width: 250px;
    height: 250px;
    flex-shrink: 0;
}

.makeup-logo > img
{
    width: 100%;
    height: 100%;
}



/* MEDIA QUERIES */

/* 2xl */
@media (max-width: 1536px) {}

/* xl */
@media (max-width: 1280px) {}

/* lg */
@media (max-width: 1024px) 
{
    .main-header > nav
    {
        display: none;
    }

    .burger-menu
    {
        display: flex;
    }

    /* HERO */
    .hero-titleANDdescription > h2
    {
        font-size: 2.35rem;
        
    }
}

@media (max-width: 916px)
{
    /* ABOUT  */
    .about-body
    {
        flex-direction: column;
    }

    .about-body > .rita-photo-container
    {
        min-width: 100%;
        height: auto;
        min-height: 500px;
    }
}

@media (max-width:840px)
{
    #hero
    {
        flex-direction: column;
        height: auto;
        
    }

    .hero-texts
    {
        text-align: center;
    }

    .hero-titleANDdescription > h2
    {
        white-space: nowrap;

    }

    .hero-buttons
    {
        margin-top: 0;
    }


}

/* md */
@media (max-width: 768px) {}

/* sm */
@media (max-width: 640px) 
{
    .main-header,
    .top-header
    {
        padding: 10px 15px 10px 15px;
    }

    .makeup-logo
    {
        width: 100%;
        height: auto;
        max-height: 458px;
    }


}

@media (max-width: 516px)
{



}

/* xs */
@media (max-width: 475px) 
{   
    .top-header,
    .main-header
    {
        padding: 10px 12px 10px 12px;
    }

    .main-header > .main-logo
    {
        width: 170px !important;
        height: 170px !important;
    }

    /* SIDEBAR */
    #sidebar
    {
        min-width: 100%;
        width: 100%;
    }

    /* HERO */
    .hero-titleANDdescription
    {
        padding: 10px;
    }

    .hero-titleANDdescription > h2
    {
        font-size: 2.1rem;
    }

    .hero-titleANDdescription > p
    {
        font-size: 1.2rem;
        
    }

    /* ABOUT */
    #about-me
    {
        padding: 50px 20px 50px 20px;
    }

    .section-title
    {
        white-space: nowrap;
    }

    .section-title > h1
    {
        font-size: 2rem;
    }
}

@media (max-width:426px)
{
    .main-logo
    {
        width: 150px;
        height: 150px;
    }


    .top-header-contact > p > span
    {
        display: none;
    }

    /* HERO */

    .hero-buttons
    {
        gap: 20px;
    }
}

@media (max-width : 380px) 
{
    
    .top-header
    {
        padding: 10px 8px 10px 8px;
    }    

    .main-header
    {
        padding: 0px 12px 12px 12px;
    }

    /* HERO */

    .hero-buttons
    {
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }

    .hero-buttons .book-btn-container
    {
        width: 100%;
    }

    .hero-titleANDdescription > h2
    {
        font-size: 1.9rem;
    }

    .hero-titleANDdescription > p
    {
        font-size: 1.1rem;
        
    }

    .hero-quote > p
    {
        font-size: 2.75rem;
    }
}