@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root
{
    /* COLORS */
    --body-bgcolor : #F8F4F1;
    --main-bgcolor : #F8F4F1;
    --main-bgcolor-secondary : #E3C6B8;
    --header-top-bgcolor : ;

    --general-fontcolor : #42382e;

    --book-now-btn-bgcolor : transparent;
    --book-now-btn-bgcolor-hoverANDfocus : #E3C6B8;
    --book-now-btn-bgcolor-active : #E3C6B8;
    --book-now-btn-bordercolor : #42382e;
    --book-btn-fontcolor : #42382e ;
    --book-now-btn-fontcolor-active : #F8F4F1;
    --book-now-sidebar-btn-bgcolor-active : #bd9792;
    /* ->HERO */
    --HERO-book-now-btn-bgcolor-hoverANDfocus : #F8F4F1;
    --HERO-book-now-btn-fontcolor-hoverANDfocus : #42382e;
    --HERO-book-now-btn-bgcolor-active : #F8F4F1;
    --HERO-book-now-btn-bordercolor : #F8F4F1;
    --HERO-book-now-btn-fontcolor : #F8F4F1;
    --HERO-book-now-btn-fontcolor-active : #42382e;
    --HERO-book-now-sidebar-btn-bgcolor-active : #F8F4F1;

    --burger-menu-bgcolor : #E3C6B8;
    --burger-menu-line-bgcolor : #F8F4F1;

    --sidebar-bgcolor : #E3C6B8 ;
    --sidebar-bordercolor : #42382e ;
    --sidebar-li-bordercolor : #42382e ;
    

    --hero-title-fontcolor : #E8C7C2 ;

    --links-fontcolor-hover :#CDA49F ;

    --sections-title-fontcolor : #42382e;
    --sections-title-bgcolor : #F8F4F1;

    --work-img-bordercolor : #42382e;

    --service-card-bgcolor :#F8F4F1 ;
    --service-card-fontcolor :#42382e ;
    --service-card-linecolor : #977E65;
    --service-card-linecolor-hover : white;


    /* FONT */
    --general-font : "Montserrat", sans-serif;
    --links-font : "Libre Baskerville", serif;
    --hero-title-font : "Libre Baskerville", serif;
    --sections-title-font : "Libre Baskerville", serif;
}